body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #60a5eb, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.formulario {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #285fc5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2f39be;
}

.resultado {
  background-color: #ffffff11;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ffffff44;
  color: #fff;
  text-align: left;
}